* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  body {
    background-color: whitesmoke;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2262b3;
    padding: 10px 50px;
  }

  .header img {
    width: 200px;
  }

  .header .searchBar {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    width: 250px;
  }

  .header-menu {
    background-color: #2262b3;
    padding: 0 50px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .header-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  .header-menu ul li {
    margin: 0 20px;
  }

  .header-menu ul li a {
    text-decoration: none;
    color: goldenrod;
    padding: 20px;
  }

  .header-menu ul li a:hover {
    text-decoration: underline;
  }

  .underheader-menu {
    background-color: #331a5d;
    padding: 10px 0;
  }

  .underheader-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  .underheader-menu ul li {
    margin: 0 20px;
  }

  .underheader-menu ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
  }

  .underheader-menu ul li a:hover {
    text-decoration: underline;
  }

  .fotoBelajar {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container-header-up {
    padding: 40px 130px;
  }

  .container-header-up ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
  }

  .container-header-up ul li {
    position: relative;
    margin: 0 20px;
  }

  .container-header-up ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eeeaf5;
    min-width: 160px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
  }

  .container-header-up ul li:hover .dropdown-menu {
    display: block;
  }

  .container-header-up ul li .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .container-header-up ul li .dropdown-menu li:last-child {
    border-bottom: none;
  }

  .container-header-up ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #eeeaf5;
    padding: 7px 25px;
    border-radius: 10px;
    font-weight: bold;
  }

  .container-header-up ul li a:hover {
    background-color: #261446;
    color: whitesmoke;
  }

  .container-header-down {
    padding: 0 130px;
  }

  .container-header-down ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
  }

  .container-header-down ul li {
    position: relative;
    margin: 0 20px;
  }

  .container-header-down ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #eeeaf5;
    padding: 7px 25px;
    border-radius: 10px;
    font-weight: bold;
  }

  .container-header-down ul li a:hover {
    background-color: #261446;
    color: whitesmoke;
  }

  .container {
    padding: 50px 180px;
  }

  .container table {
    border: 1px solid black;
    padding: 30px 20px;
    width: 100%;
  }

  .container table thead th {
    padding-bottom: 10px;
  }

  .container table tbody td {
    border-bottom: 1px solid black;
    padding-top: 30px;
  }

  .container table tfoot td {
    padding-top: 30px;
  }

  footer {
    background-color: #2262b3;
    padding: 30px 150px;
  }

  footer table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: whitesmoke;
  }

  .medsosBtn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: orange;
  }

  .contactBtn {
    color: whitesmoke;
    text-decoration: none;
  }

  .contactBtn i {
    color: orange;
  }